Repository jcamp-code/nuxtesse: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint

chore: update deps
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/tsconfig.json
  tsconfig.json
Due: eslint

feat: add simple nav menu
  layouts/default.vue
  pages/second.vue
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint

feat: formkit
  formkit.config.tailwind.ts
  formkit.config.ts
  layouts/default.vue
  nuxt.config.ts
  package.json
  pages/formkit.vue
  pages/index.vue
  pages/second.vue
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint

fix: layout
  layouts/default.vue
Due: none

fix: tweaks
  layouts/default.vue
Due: none

added open with codeanywhere badge to README file
  README.md
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: any of: *.md
  eslint: any of: *.ts
